
/* prashant.... */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
font-family:  "Poppins", sans-serif;
}


.navbar-brand{
  font-size: 2rem;
}

.navbar-brand img{
  border: 1px solid black;
}


.nav-link{
  margin: 0px 10px;
    color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: 700;
 font-family: "Roboto Slab", sans-serif;
 
}
.nav-link:hover{
  transform: scale(1.1);
}





.navbar-nav {
  width: 100%;
  justify-content: center;
}

.navbar-collapse {
  justify-content: center;
}

.navbar-nav .nav-item {
  text-align: center;
  /* border: 2px solid red; */
}

.navbar-nav .nav-link {
  padding: 0.5rem 1rem;
}








.hii{
  min-width: 18vw;
  max-width: 40%;
  margin: 0 auto;
}

.search{
  height: 40px;
  width: 100%;
  border-radius: 60px;
  outline: none;
  border: 2px solid rgb(220, 53, 60);
  margin-right: -35px; 
  font-family:"Rubik", sans-serif;

}

.btn0{

  height: 40px;
  width: 50%;
  outline: 0;
  color: white;
  font-weight: 700;
  border-radius: 60px;
  border: 1px solid rgb(220, 53, 60);

}

.carousel-item {
  max-height: 90vh;
  min-height: 300px;
  background: no-repeat scroll center scroll;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}



.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.7;
}
.carousel-caption {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  
}

.carousel-caption h5 {
  font-size: 4vw;
  font-weight: 700;

}

.carousel-caption p {
  font-size: 1.5vw;
  font-family:"Poppins" ;
  font-weight: 500;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  background: none;
  border: none;
  z-index: 1000;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: transparent;
}

.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
  color: black;
}

.carousel-control-prev {
  left: 1%;
}

.carousel-control-next {
  right: 1%;
}



























.mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}
.mainDiv h3 {
  color: red;
}

.line{
  border: 1px solid black;
  width: 95vw;
  margin: 50px auto;
}

.seamless{
  margin-top: 150px;
}
.mainDiv p {
  font-size: 2;
}
.navbar {
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.8);
}
/* .service-plan{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.service-plan{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 300px; /* Adjust width as needed */
  height: 450px; /* Adjust height as needed */
  margin: 0px 10px;
  padding: 20px;

}



footer {
  padding: 50px 0; /* Adding padding for better spacing */
}

/* Customer section */
.customer-section {
  padding: 50px 0; /* Adding padding for better spacing */
}

/* Container for responsive grid */
.container-fluid {
  padding: 0 15px; /* Adding padding for better spacing */
}




@media (max-width:990px) {
  .seamless{
    margin-top: 10px;
  }
}